<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">Restaurant Management</h1>
    <div class="header-actions">
      <!-- Button to View Pending Requests -->
      <button
        class="btn btn-primary"
        onclick="window.location.href='/admin/pending'"
      >
        Pending Requests
      </button>
      <!-- Button to Add a New Restaurant -->
      <button
        class="btn btn-secondary"
        onclick="window.location.href='/admin/addNewRestaurant'"
      >
        Add New Restaurant
      </button>
    </div>
  </div>
  <!-- Table Container -->
  <div class="table-container">
    <table class="restaurant-table">
      <thead>
        <tr class="table-header">
          <th class="column-header">Name</th>
          <th class="column-header">Address</th>
          <th class="column-header">NIF</th>
          <th class="column-header">Phone</th>
          <th class="column-header">Price per Person</th>
          <th class="column-header">Delivery Distance</th>
          <th class="column-header">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if (restaurants && restaurants.length > 0) { %> <%
        restaurants.forEach(function (restaurant) { %>
        <tr class="table-row" data-id="<%= restaurant._id %>">
          <td class="table-cell"><%= restaurant.restaurantName %></td>
          <td class="table-cell"><%= restaurant.address %></td>
          <td class="table-cell"><%= restaurant.nif %></td>
          <td class="table-cell"><%= restaurant.phone %></td>
          <td class="table-cell">
            €<%= restaurant.pricePerPerson.toFixed(2) %>
          </td>
           <td class="table-cell">
            <%= restaurant.deliveryDistance ? restaurant.deliveryDistance + ' km' : '-' %>
          </td>
          <td class="table-cell">
            <div class="action-buttons">
              <a
                href="/admin/restaurants/restaurant/edit?restaurantId=<%= restaurant._id %>"
                class="btn btn-edit"
                >Edit</a
              >
              <button class="btn btn-delete" data-id="<%= restaurant._id %>">
                Delete
              </button>
            </div>
          </td>
        </tr>
        <% }); %> <% } else { %>
        <tr>
          <td colspan="5" class="table-cell">No restaurants found.</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div id="delete-modal" class="modal hidden">
    <div class="modal-content">
      <p id="delete-message" class="modal-message"></p>
      <div class="modal-actions">
        <button id="confirm-delete" class="btn btn-confirmDelete">
          Confirm
        </button>
        <button id="cancel-delete" class="btn btn-cancelDelete">Cancel</button>
      </div>
    </div>
  </div>
</div>
